@media (max-width: 1540px) {
    .large-container {
        width: 1200px !important;
    }
}

@media (max-width: 1440px) {
    .mid-container {
        width: 1000px !important;
    }
    .product-container {
        
        width: 1208px;
       
    }
    .large-container {
        width: 1200px !important;
    }
    .sale__content {
        font-size: 44px;
        left: 12%;
    }
    .accessories-title h2 {
        font-size: 47px;
    }
    .shop-img img ,
    .shop-img img {
        width: 100%;
    }
    .foo-list h2 {
        font-size: 21px;
    }
    .foo-list__brends h2 {
        font-size: 21px;
    }
    .p-types__title:after {
        width: 702px;
    }
    .head-learn {
        top: 84%;
        right: 16%;
    }
    section.mission {
        margin-bottom: 0;
    }
    .shop-center a {
        font-size: 36px;
    }
    .shop-center a:before {
        display: none;
    }
    .mission-content__p p:before {
        top: -12%;
        background-size: 500px;
        width: 504px;
        left: -7%;
    }
    .mission-content__title:after {
        content: '';
        background: #707070;
        height: 14px;
        width: 902px;
        top: 62%;
        position: absolute;
    }
    .mission-content__p p:after {
        display: none;
    }
    .mission-content__img:before {
        display: none;
    }
    .mission-content__img:after {
        display: none;
    }
    
    .block-first__content {
        max-width: 944px;
        width: 892px;
        text-align: center;
    }
    .slick-slide {
        width: auto !important;
    }
    .row2-item {
        width: 277px !important;
        height: 494px;
        padding: 0 12px;
        width: 550px;
    }
    .row2-items {
        width: 600px;
        height: 642px;
    }
    img.next.slick-arrow {
        transform: rotate(-90deg);
        left: 96%;
        position: absolute;
        bottom: 68%;
        padding: 7px 0px;
    }
    img.prev.slick-arrow {
        transform: rotate(-90deg);
        position: absolute;
        left: -13%;
        top: 26%;
        padding: 7px 0px;
    }
    .slick-list {
        width: 550px;
        /* height: 680px; */
    }
    .p-row3__blocks {
        width: auto;
        grid-template-columns: 1fr 1fr;
    }
    .row2-item__wrapper {
        height: 377px;
    }
    .row3-item__content {
        bottom: 163px;
        left: 70px;
    }
    .p-row3__title h2 {
        margin-bottom: 47px;
        margin-top: 0;
    }
    .block-mid__title {
        /* max-width: 444px; */
        margin-top: 43px;
        margin-bottom: 43px;
        width: 100%;
        text-align: center;
    }
    .block-mid__title p {
        font-size: 42px;
    }
    .with-content__box {
        margin-left: 0;
    }
    .block-with__content {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .with-content__box {
        height: 723px;
    }
    .with-boxContent__title h2 {
        font-size: 26px;
    }
    .with-box__content p {
        font-size: 23px;
    }
    .shop-center a:after {
        display: none;
    }
    .sale-btn {
        position: relative;
        padding: 82px 0;
    }
    .sale-btn a {
        font-size: 42px;
    }
    .sale-btn:before {
        top: 14%;
        left: -42%;
    }
    .sale-learnMore a {
        bottom: 45px;
        right: 163px;
    }
    .accessories-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .p-types__row1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row1-item:nth-child(1) {
        margin-bottom: 32px;
    }
    .row1-item:nth-child(2) {
        width: 763px;
        height: 571px;
    }
    .mission-content__title:after {
        width: 603px;
        height: 11px;
    }
    .mission-content__p p {
        font-size: 31px;
    }
    .mission-content__p {
        margin-bottom: 159px;
    }
    .mission-content__title h2 {
        margin-top: 17px;
        margin-bottom: 46px;
    }
    .m-c-img__wrapper {
        height: 762px;
    }
    .m-c-img__wrapper span {
        font-size: 34px;
    }
    section.mission {
        margin-bottom: 0;
    }
    .navbar {
        margin-top: 100px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .head-content {
        padding: 11px 0;
    }
    .content-title:after {
        width: 666px;
    }

    .content-p {
        margin-bottom: 77px;
    }
    .content-title h2 {
        margin-top: 43px;
    margin-bottom: 68px;
    }

    .form-block {
        padding: 73px 0;
    }
    .form-block__wrapper {
        width: 546px;
    }
    .input input {
        font-size: 20px;
    }
    .form-btn button:after {
        width: 25%;
        left: 168px;
    }
    .foo-list_icon a img {
        width: 260px;
    }
    .foo-list_icon p {
        padding: 0;
        width: 280px;
    }
    .foo-list_icon {
        width: 296px;
        padding: 0;
        padding-top: 69px;
        position: relative;
        
    }
    .foo-list_icon a{
        position: absolute;
        top: -35%;
        
    }
    .foo-wrapper {
        align-items: stretch;
    }
    .map {
        margin-bottom: 128px;
    }
}

@media (max-width: 1200px) {
    .mid-container {
        width: 940px !important;
    }
    .large-container {
        width: 960px !important;
    }
    .shop-center {
        top: 166px;
        height: 224px;

    }
    .p-row3__title h2 {
        /* margin-bottom: 47px; */
        margin-top: 8%;
        font-size: 39px;
    }
    section.p-types {
        margin-bottom: 7%;
    }
    .mission-content__img span {
        font-size: 32px;
    }
    .sale__content {
        font-size: 41px;
        left: 9%;
    }
    .navbar {
        margin-top: 66px;
    }
    
    .sale__content:after {
        bottom: -104%;
    }
    .mission-content__p p:before {
        display: none;
    }
    .mission-content__p p:after {
        display: none;
    }
    .head-learn {
        top: 86%;
        right: 10%;
    }
    .product-container {
        
        width: 930px;
       
    }
    
    .p-types__title h2 {
        font-size: 46px;
    font-weight: 300;
    margin-top: 62px;
    margin-bottom: 62px;
    }
    .p-types__title:after {
        width: 602px;
    }
    .p-types__row2 {
        margin-top: 35px;
        height: 528px;
    }
    .sale-btn a {
        font-size: 29px;
    }
    .sale-btn:before {
        background-size: 140px;
    }
    .sale-btn:before {
        top: 14%;
        left: -48%;
    }
    .accessories-title h2 {
        font-size: 41px;
    }
    .acc-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .acc-block__itemUp {
        width: 789px;
    }
    .acc-content__bottomUp {
        left: 44%;
    }
    .acc-block__itemDown {
        width: 789px;
        height: 417px;
    }
    .small-container {
        width: 850px;
    }
    .with-content__box {
        height: 623px;
    }
   .head-icon img {
       width: 300px;
   }
   .mission-content__title h2 {
    font-size: 46px;
   }
   .mission-content__title h2 {
    margin-top: 3px;
    margin-bottom: 31px;
}

   .lang span {
       font-size: 17px;
   }
   .mission-content__p p {
    font-size: 24px;
}
   .lang a {
       font-size: 17px;
   }
   .mission-content__p {
    margin-bottom: 94px;
}
   .main-menu__lists li a {
       font-size: 17px;
   }
   .m-c-img__wrapper {
    height: 730px;
}
   .head-slider p {
       font-size: 22px;
   }
   .content-title:after {
    width: 566px;
    height: 11px;
}
    .content-title h2 {
    font-size: 44px;

    }

    .content-p p {
        font-size: 22px;
    }
    .form-title h2 {
        font-size: 32px;
    }
    .form-contact {
        padding-left: 63px;
    }
    .form-contact__lists li span {
        font-size: 26px;
    }
    .form-contact__lists li a {
        font-size: 22px;
    }
    .input input {
        font-size: 16px;
    }
    .input input {
        padding: 13px 0 17px 41px;
    }
    .contact-textarea {
        padding: 20px 0 12px 43px;
        font-size: 17px;
    }
    .form-btn button {
        font-size: 22px;
    }
    .form-btn button:after {
        width: 22%;
        left: 173px;
    }
    .copyright .mid-container {
        padding: 35px 105px 32px 105px;
    }
    .map {
        margin-bottom: 86px;
    }
    .head-slider {
        max-width: 446px;
    }
}

@media (max-width: 991px) {
    .mid-container {
        width: 710px !important;
    }
    .foo-wrapper {
        padding-bottom: 34px;
        align-items: center;
    }
    .sale-learnMore a:after {
        width: 70px;
    }
    .sale__content:after {
        bottom: -214%;
        background-size: 127px;
        left: -32%;
    }
    section.mission {
        margin-bottom: 0;
        margin-top: 4%;
    }
    .mission-content__p {
        margin-bottom: 58px;
    }
    .mission {
        padding-bottom: 307px;
    }
    .sale__content {
        font-size: 30px;
        left: 9%;
    }
    .shop-online {
        margin-top: 13px;
    }
    .copyright .mid-container {
        padding: 18px 0 18px 0;
    }
    
    .small-container {
        width: 650px;
    }
    .large-container {
        width: 760px !important;
    }
    .product-container {
        
        width: 740px;
       
    }
    .mission-content__p p:before {
        display: none;
    }
    .head-slider {
        margin-top: 0;
    }
    .head-learn {
        top: 94%;
        right: 46%;
    }
    .row1-item {
        width: 570px;
        height: 498px;
    }
    .row1-item:nth-child(2) {
        width: 596px;
        height: 471px;
        padding-left: 0;
    }
    .p-types__title:after {
        width: 421px;
    }
    img.prev.slick-arrow {
        left: 27%;
        top: 77%;
        z-index: 1;
    }
    .p-row3__title h2 {
        margin-bottom: 47px;
        margin-top: 63px;
    }
    img.next.slick-arrow {
        left: 58%;
        position: absolute;
        bottom: 17%;
        z-index: 1;
    }
    .hamburger-menu {
        display: block;
    }
    .mission-content__title:after {
        width: 486px;
    }
    .shop-center {
        top: 60px;
        height: 160px;
        width: 250px;
    }
    .shop-center span {
        font-size: 17px;
    }
    .shop-center a {
        font-size: 26px;
    }
    .sale-btn a {
        font-size: 22px;
    }
    .sale-btn:before {
        top: 20%;
        left: -53%;
        background-size: 114px;
    }
    .sale-learnMore a {
        bottom: 45px;
        right: 103px;
        font-size: 13px;
    }
    .accessories-title h2 {
        font-size: 28px;
        margin-top: 60px;
    }
    .acc-block__itemUp {
        width: 669px;
        height: 504px;
    }
    .acc-block__itemDown {
        width: 669px;
        height: 317px;
    }
    .acc-content__centerDown span {
        font-size: 25px;
    }
    .acc-content__bottomDown {
        position: absolute;
        bottom: 49px;
    }
    .acc-content__bottomDown span {
        font-size: 24px;
    }
    .block-first__content {
        width: 692px;
    }
    .with-content__box {
        height: 523px;
    }
    
    .head-content {
        padding: 11px 0;
        
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        background: rgba(0, 0, 0, 0.911);
        bottom: 0;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-menu__lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-top: 39px;
    }
    .main-menu__lists li a {
        color: #fff;
    }
    .main-menu__lists li {
        padding: 29px 30px;
    }

    .navbar {
        margin-top: 51px;
        padding-bottom: 13px;
        flex-direction: column;
    }
    .q-contact {
        
        margin-bottom: 14px;
    }

    .head-icon {
        margin: 20px 0;
    }
    .head-icon img {
        width: 272px;
    }
    .content-title h2 {
        font-size: 36px;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .content-title:after {
        width: 394px;
        height: 8px;
    }
    .content-p p {
        font-size: 19px;
    }
    .content-p {
        margin-bottom: 27px;
    }
    .form-block {
        padding: 40px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul.form-contact__lists li span {
        margin-bottom: 16px;
    }   
    .form-contact {
        padding-left: 0;
        width: 100%;
    }
    ul.form-contact__lists {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: row;
    }
    ul.form-contact__lists li {
        margin-top: 66px;
        margin-bottom: 15px;
    }
    .map iframe {
        width: 100%;
        height: 409px;
    }
    .foo-wrapper {
        flex-wrap: wrap;
    }
    .foo-list_icon {
        width: 50%;
        margin-bottom: 32px;
    }
    .foo-list {
        width: 50%;
    }
    .foo-list__brends {
        min-height: 50px;
        margin-top: 32px;
        width: 50%;
    }
    .foo-wrapper {
        
        padding-bottom: 34px;
    }
    
}


@media (max-width: 767px) {
    .mid-container {
        width: 444px !important;
    }
    .small-container {
        width: 400px;
    }
    .map {
        margin-bottom: 13%;
    }
    .contact-textarea {
        min-height: 263px;
    }
    .product-container {
        width: 370px;
    }
    .row3-item__content {
        bottom: 163px;
        left: 31%;
    }
    .p-row3__blocks {
        width: auto;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mission-content__img span {
        font-size: 21px;
        left: 40%;
    }
    .shop-online .large-container {
        flex-direction: column;
    }
    .shop-img.left {
        width: 90%;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .shop-center a {
        font-size: 28px;
        font-weight: 700;
        margin-top: 0%;
        position: absolute;
    }
    .shop-center {
        top: 34%;
        height: 29%;
        width: 51%;
    }
    .shop-center span {
        font-size: 26px;
    }
    .sale__content:after {
        bottom: -196%;
        background-size: 101px;
        left: -43%;
        width: 128.83px;
        height: 98px;
    }
    .sale__content {
        font-size: 20px;
        left: 9%;
    }
    .sale-learnMore a {
        right: 7%;
    }
    .block-with__content {
        margin-top: 70%;
    }
    .with-box__content {
        bottom: 53px;
        left: 13.5px;
    }
    .with-boxContent__title h2 {
        font-size: 20px;
    }
    .shop-img.right {
        width: 90%;
    }
    section.mission {
        margin-bottom: 273px;
        padding-bottom: 0;
    }
    .mission-content__title h2 {
        margin-top: 32px;
        margin-bottom: 47px;
    }
    .p-row3__blocks {
        width: auto;
        grid-template-columns: 1fr;
    }
    .head-learn {
        top: 94%;
        right: 43%;
    }
    .p-types__title h2 {
        font-size: 38px;
    }
    .large-container {
        width: 460px !important;
    }
    .p-types__title:after {
        width: 321px;
    }
    .hamburger-menu div {
        padding: 0px 13px;
    }
    .row1-item {
        width: 370px;
        height: 398px;
    }
    .abs-content {
        font-size: 16px;
        bottom: 32px;
    }
    .row1-item:nth-child(2) {
        width: 396px;
        height: 371px;
        padding-left: 0;
    }
    .row1-item:nth-child(2) .abs-content {
        position: absolute;
        bottom: 16px;
        left: 41px;
    }
    
    
    
    .sale-btn a {
        font-size: 15px;
    }
    .sale-btn:before {
        top: 26%;
        left: -53%;
        background-size: 84px;
    }
    .accessories-title h2 {
        font-size: 24px;
        margin-top: 42px;
    }
    .accessories-title {
        margin-bottom: 39px;
    }
    .acc-block__itemUp {
        width: 369px;
        height: 404px;
    }
    .acc-content__bottomUp {
        left: 37%;
        bottom: 52px;
    }
    .acc-block__itemDown {
        width: 369px;
        height: 317px;
        flex-direction: column;
    }
    .acc-item1 {
        width: 100%;
    }
    .acc-content__centerDown span {
        font-size: 19px;
    }
    .acc-content__bottomDown span {
        font-size: 18px;
    }
    .acc-content__bottomDown {
        position: absolute;
        bottom: 13px;
    }
    .block-first__content {
        width: 392px;
    }
    .block-first__content p {
        font-size: 17px;
    }
    .block-mid__title p {
        font-size: 33px;
    }
    .block-mid__title {
        /* max-width: 444px; */
        margin-top: 26px;
        margin-bottom: 36px;
        
    }
    .with-content__box {
        height: 423px;
        width: 363px;
    }
    .with-boxContent__title h2 {
        font-size: 25px;
    }
    .with-box__content p {
        font-size: 16px;
    }
    .acc-item2 {
        width: 100%;
    }
    .mission-content__title:after {
        width: 319px;
        height: 10px;
    }
    .mission-content__title h2 {
        font-size: 34px;
    }
    .mission-content__p p {
        font-size: 17px;
    }
    .mission-content__p {
        margin-bottom: 52px;
    }
    .m-c-img__wrapper {
        height: 630px;
    }
    .m-c-img__wrapper span {
        font-size: 26px;
    }
    .mission-abs {
        bottom: -144px;
        left: 73px;
    }
    
    .nav-menues {
        
        flex-direction: column;
        justify-content: center;align-items: center;
    }
    .navbar {
        width: auto;
    }
    .nav-search {
        margin-right: 0;
    }
    .sign:after, .sign:before {
        display: none;
    }
    
    .sign {
        margin: 13px;
        width: 111px;
        text-align: center;
        padding: 0;
    }
    .unknown {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0px;
        width: 17%;
    }
    .head-icon img {
        width: 238px;
    }
    .head-icon {
        margin-top: 16px;
        margin-bottom: 0;
    }
    .form-block__wrapper {
        width: 359px;
        padding: 37px 31px 35px 31px;
    }
    .content-title:after {
        width: 172px;
        height: 6px;
    }
    .head-slider {
        max-width: 375px;
    }
    .content-p p {
        font-size: 14px;
        padding: 0 25px;
    }
    .content-title h2 {
        font-size: 29px;
        
        margin-bottom: 42px;
    }
    .form-title h2 {
        font-size: 27px;
    }
    .form-btn button {
        font-size: 19px;
    }
    .form-btn button:after {
        width: 27%;
        left: 107px;
    }
    .nav-menues {
        flex-direction: row;
        flex-wrap: wrap;
        width: 359px;
    }
    .nav-search {
        margin-right: 0;
        width: 50;
        width: 62%;
    }
    ul.form-contact__lists {
        flex-wrap: wrap;

    }
    ul.form-contact__lists li span {
        font-size: 17px;
    }
    .form-contact__lists li a {
        font-size: 14px;
    }
    .foo-list_icon {
        width: 67%;
    }
    .copyright .mid-container {
        padding: 13px 0px 13px 0px;
    }
    .copyright p {
        font-family: 'Tahoma';
        font-size: 13px;
    }
    
}

@media (max-width: 440px) {
    .mid-container {
        width: 330px !important;
    }
    .lang a {
        font-size: 14px;
    }
    .row1-item {
        width: 311px;
        height: 398px;
        padding-left: 0;
    }
    .row1-item:nth-child(2) {
        width: 315px;
        height: 371px;
        padding-left: 0;
    }
    .row3-item {
        height: 556px;
        width: 268px;
    }
    .row3-item__wrapper {
        width: 100%;
        height: 428px;
    }
    .p-row3__title h2 {
        /* margin-bottom: 47px; */
        margin-top: 8%;
        font-size: 24px;
    }
    .large-container {
        width: 360px !important;
    }
    .small-container {
        width: 300px;
    }
    .mission-content__title:after {
        width: 248px;
        height: 8px;
    }
    .map {
        margin-bottom: 25%;
    }
    .navbar {
        padding-left: 22px;
    }

    .head-icon img {
   
        margin-left: 36px;
        
    }
    .head-owl-prev {
        position: absolute;
        top: 2px;
        left: 47px;
    }

    .head-owl-next {
        position: absolute;
        right: 10px;
        top: 4px;
    }
    .head-slider {
        padding-left: 25px;
    }
    .head-learn {
        top: 92%;
        right: 33%;
    }
    .sale__content:after {
        bottom: -249%;
        background-size: 84px;
        left: -43%;
        
    }
    .sale__content {
        font-size: 18px;
        left: 46%;
        top: 17%;
    }
    .shop-img.left {
        width: 80%;
        
    }
    .shop-img.right {
        width: 80%;
        
    }
    .shop-center {
        top: 34%;
    height: 29%;
    width: 51%;
    }
    .head-learn a {
        font-size: 16px;
    }
    .head-learn a:after {
        width: 79px;
    }
    .content-p {
        margin-bottom: 12px;
    }
    .shop-center span {
        font-size: 17px;
    }
    
    .head-owl-next {
        position: absolute;
        right: 10px;
        top: 4px;
    }
    .head-learn {
        top: 92%;
        right: 36%;
    }
    .shop-center a {
        font-size: 19px;
    }
    .mission-content__p p {
        font-size: 14px;
    }
    .sale-btn:before {
        display: none;
    }
    .sale-learnMore a {
        bottom: 19px;
        right: 157px;
        font-size: 13px;
    }
    .block-with__content {
        margin-top: 49%;
    }
    .acc-block__itemUp {
        width: 269px;
        height: 304px;
    }
    .acc-content__centerUp span {
        font-size: 21px;
    }
    .acc-content__bottomUp span {
        font-size: 25px;
        
    }
    .acc-block__itemDown {
        width: 269px;
        height: 417px;
        
    }
    .block-first__content {
        width: 292px;
    }
    .block-first__content p {
        font-size: 15px;
    }
    .with-content__box {
        height: 423px;
        width: 263px;
    }
    .with-boxContent__title h2 {
        margin-bottom: 11px;
    }
    .with-box__content {
        bottom: 34px;
    left: 25.5px;
    }
    .with-box__content p {
        font-size: 13px;
    }
    .mission-content__p {
        margin-bottom: 36px;
    }
    .m-c-img__wrapper {
        height: 430px;
    }
    .m-c-img__wrapper span {
        font-size: 22px;
    }
    .mission-abs p {
        font-size: 17px;
        
        margin-bottom: 28px;
    }
    .mission-abs {
        bottom: -124px;
        left: 25px;
    }
    .mission-abs span {
        font-family: 'Playfair Display';
        font-size: 27px;
    }
    section.mission {
        margin-bottom: 213px;
        padding-bottom: 0;
    }
    .q-contact {
        margin-bottom: 14px;
        font-size: 14px;
    }
    .q-contact a {
        font-size: 14px;
    }
    .mission-content__img span {
        font-size: 21px;
        left: 37%;
    }
    .sign a {
        font-size: 16px;
    }
    .head-slider p {
        font-size: 17px;
    }
    .head-slider {
        max-width: 317px;
    }
    .head-icon img {
        width: 208px;
        margin-left: 28px;
        margin-top: 17px;
    }
    .head-icon {
        margin: 0;
    }
    .content-title h2 {
        margin-bottom: 16px;
        margin-top: 12px;
    }
    .content-title:after {
        height: 4px;
        top: 70%;
    }
    .content-p p {
        font-size: 12px;
    }
    .form-block__wrapper {
        width: 300px;
    }
    .input {
        margin-bottom: 21px;
    }
    .form-btn button:after {
        width: 35%;
        left: 76px;
    }
    .contact-textarea {
        min-height: 220px;
    }
    ul.form-contact__lists {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul.form-contact__lists li {
        margin-top: 27px;
        margin-bottom: 4px;
    }
    .foo-list_icon a img {
        width: 272px;
    }
    .foo-list_icon p {
        text-align: center;
    }
    .foo-list h2 {
        font-size: 17px;
    }
    .foo-list a {
        font-size: 14px;
    }
    .foo-list__brends h2 {
        font-size: 17px;
    }
    .foo-list__brends {
        min-height: 50px;
        margin-top: 0;
        width: 50%;
        min-height: 134px;
    }
    .foo-list__brends a svg {
        width: 19px;
    }
    .copyright .mid-container {
        padding: 13px 14px 13px 14px;
    }
    .copyright p {
        font-family: 'Tahoma';
        font-size: 9px;
    }
    .map iframe {
        width: 100%;
        height: 256px;
    }
    .input input {
        padding: 9px 0 8px 20px;
        font-size: 12px;
    }
    .lang span {
        font-size: 14px;
    }
    .form-btn button {
        font-size: 14px;
    }
    .form-btn button:after {
        width: 28%;
        left: 84px;
    }
}