@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sitka';
    src: url('../fonts/Sitka\ Small.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fluent_Calibri';
    src: url('../fonts/Fluent_Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbel';
    src: url('../fonts/Corbel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Corbel';
    src: url('../fonts/Corbel\ Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Mongolian Baiti';
    src: url('../fonts/Mongolian\ Baiti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Javanese';
    src: url('../fonts/Javanese\ text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida';
    src: url('../fonts/Lucida\ Sans\ Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myanmar';
    src: url('../fonts/Myanmar\ text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Leelawadee';
    src: url('../fonts/Leelawadee\ ui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe';
    src: url('../fonts/Segoe\ Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma\ bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h2,h1,p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
body {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
:root {
   
    --main-half-black: #585858;
}

.mid-container {
    margin: 0 auto;
    width: 1439px;
    padding: 0 15px;
}
.product-container {
    margin: 0 auto;
    width: 1521px;
    padding: 0 15px;
}
.small-container {
    margin: 0 auto;
    width: 1060px;
    padding: 0 15px;
}
.large-container {
    margin: 0 auto;
    width: 1621px;
    padding: 0 15px;
}

.Myanmar {
    font-family: 'Myanmar';
}
.Cambria {
    font-family: 'Cambria';
}
.Consolas {
    font-family: 'Consolas';
}
.PlayfairDisplay {
    font-family: 'PlayfairDisplay';
}
.Segoe {
    font-family: 'Segoe';
}
.Tahoma {
    font-family: 'Tahoma';
}
.Leelawadee {
    font-family: 'Leelawadee';
}


.lang {
    padding-bottom: 7px;
    
    position: relative;
    margin-left: 22px;
    transition: all ease .3s;
    cursor: pointer;
}



.lang .cur-lang {
    position: relative;
    cursor: pointer;
}



.lang a {
    color: rgba(31, 8, 8, 0.788);
    transition: .3s;
    font-family: 'Lucida';
    font-size: 21px;
    text-transform: uppercase;
}

.lang a:hover,
.lang .active a {
    color: #49D6CB;
}


.lang > span {
    position: relative;
    padding-right: 20px;
    font-size: 15px;
}
.lang > span:before {
    content: '';
    background: url('../img/langarr.png') no-repeat;
    width: 18px;
    height: 10px;
    position: absolute;
    top: 51%;
    margin-top: -3px;
    right: 46px;
}
.last {
    display: flex;
}
.lang {
    padding-bottom: 7px;
    
    position: relative;
    margin-left: 22px;
    transition: all ease .3s;
    cursor: pointer;
}
.lang:hover .drop {
    opacity: 1;
    display: block;
}
.drop   {
    position: absolute;
    opacity: 1;
    /* display: none; */
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    top: 71%;
    z-index: 21;
    display: none;
    color: #fff;
    padding: 8px;
    right: 13px;
    border-radius: 6px;
    transition: .4s;
}

.lang:hover .drop {
    display: block;
}
.lang .cur-lang {
    position: relative;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 70px;
    width: 100%;
}

.nav-menues {
    display: flex;
}

.nav-search {
    margin-right: 45.5px;
}

.sign.maynmar {
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.unknown {
    margin-left: 52px;
    margin-right: 27.5px;
}

.navbar {
    margin-top: 125px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.nav-search {
    width: 248px;
}
.nav-search {
    display: flex;
    height: 37px;
    outline: none;
    border: 1.4px solid black;
}
.nav-search input {
    outline: none;
    border:none;
    /* padding-left: 13px; */
    padding-right: 8px;
    padding-left: 12px;
}

.nav-search button {
    border-right: none;
    border:none;

    background: transparent;
    padding-left: 13px;
    padding-top: 3px;
    outline: none;
    cursor: pointer;
}


.q-contact {
    font-weight: 700;
}
.sign a {
    font-weight: 700;
    color: black;
    font-family: 'Myanmar';
    font-size: 17px;
    text-transform: capitalize;
}
.q-contact a {
    font-weight: 700;
    margin-left: 4px;
    color: black;
    font-size: 22px;
    font-style: normal;
    font-family: 'Myanmar';
}

.lang span {
    font-family: 'Lucida';
    font-size: 21px;
}

.head .mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-menu__lists {
    display: flex;
    justify-content: center;
}
.main-menu__lists li a {
    font-family: 'Lucida';
    font-size: 21px;
    color: black;
    text-transform: uppercase;
}
.main-menu__lists li {
    margin: 0 55px;
}

section.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head-content {
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 23px 0;
    transition: .4s;
}
.head-icon {
    margin: 42px 0;
    text-align: center;
}
.head-icon {
    width: 248px;
}
.content-title h2 {
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 500;
    margin-top: 53px;
    margin-bottom: 117px;
    
}
.p-types__title h2 {
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 300;
    margin-top: 82px;
    margin-bottom: 117px;

}
.content-p p {
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #707070;
    line-height: 1.6;
}
.form-block__title h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
}
.form-title h2 {
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: 500;
    color: #3B3B3B;
}

.contacts .mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-contact__lists li span {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 500;
}
.form-contact__lists li a {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.cocntact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-title {
    position: relative;
}
.p-types__title {
    position: relative;
}
.content-title:after {
    content: '';
    background: #707070;
    height: 14px;
    width: 881px;
    top: 56%;
    position: absolute;
}
.p-types__title:after {
    content: '';
    background: url('/img/contacts-after.png') no-repeat;
    height: 14px;
    width: 802px;
    top: 68%;
    position: absolute;
}

.content-p {
    margin-bottom: 131px;
    text-align: center;
}
span.block {
    display: block;
}
.form-block {
    display: flex;
    width: 100%;
    padding: 100px 0;
    
    /* justify-content: space-between; */
}

.form-block {
    display: flex;
    width: 100%;
    padding: 155px 0;
    padding-bottom: 145px;
    /* justify-content: space-between; */
}

.form-block__wrapper {
    width: 919px;
    box-shadow: 3px 3px 30px rgb(0, 0, 0, 0.16);
    padding: 76px 47px 47px 47px;
}

.input input {
    width: 100%;
}

.contact-textarea {
    width: 100%;
    font-family: 'Tahoma';
    padding: 21px 0 21px 58px;
    font-size: 26px;
    text-transform: capitalize;
    min-height: 323px;
    outline: none;
}

.form-btn button {
    width: 100%;
    color: white;
    background-color: #000000;
    font-family: 'Tahoma';
    font-size: 28px;
    cursor: pointer;
    margin-top: 36px;
    position: relative;
    border-bottom: 1px solid white;
    padding: 12px;
}
.form-btn button:after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 15%;
    /* top: 67%; */
    bottom: 12px;
    left: 348px;
}

.input input {
    padding: 21px 0 21px 58px;
    font-family: 'Tahoma';
    font-size: 26px;
    text-transform: capitalize;
    outline: none;
}

.input {
    margin-bottom: 46px;
}

.form-contact {
    padding-left: 90px;
}

ul.form-contact__lists {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* justify-content: space-around; */
}

ul.form-contact__lists li {
    display: flex;
    flex-direction: column;
}

ul.form-contact__lists li span {
    margin-bottom: 30px;
    color: #3B3B3B;
}

ul.form-contact__lists li {
    margin-bottom: 102px;
}
.map {
    margin-bottom: 273px;
}
.map iframe {
    width:100%;
    height:734px
}
.foo-list_icon p {
    font-family: 'Consolas';
    font-size: 13px;
    font-weight: 700;
    line-height: 2;
    color: #909090;
}
.foo-list_icon {
    width: 410px;
    padding: 0 105px;
}
.foo-list h2 {
    font-family: 'Tahoma';
    font-size: 25px;
    font-weight: 700;
}
.foo-list__brends h2 {
    font-family: 'Tahoma';
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 11px;
}
.foo-list a {
    font-family: 'Tahoma';
    font-size: 21px;
    color: #909090;
}
.foo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 78px;
}
.foo-list h2,
.foo-list a {
    margin-bottom: 16px;
}
.foo-list {
    display: flex;
    flex-direction: column;
}
.foo-list__brends {
    min-height: 173px;
}
.foo-list__brends a svg {
    height: 29px;
    width: 29px;
}
.foo-list__brends a:hover .foo-svg {
    transform: scale(1.2);

}
.copyright .mid-container {
    display: flex;
    justify-content: space-between;
    padding: 55px 1px 43px 105px;
}
.copyright p {
    font-family: 'Tahoma';
    font-size: 20px;
}
.copyright span a {
    color: black;
}

.sign {
    padding: 0 30.5px;
    position: relative;
}
.sign:after,
.sign:before {
    content: '';
    position: absolute;
    height: 34px;
    background-color: black;
    width: 1px;
    top: -2%;
}





.sign:after {
    top: -2%;
}

.sign:after {
    /* left: 24%; */
    /* right: 55px; */
    right: -5.5px;
}

.sign:before {
    left: -0.5px;
}
.head-slider p {
    font-family: 'Cambria';
    font-size: 25px;
    text-align: center;
}
.head-slider {
    max-width: 500px;
    display: flex;
    position: relative;
    margin-top: 26px;
}
.head-slider:before,
.head-slider:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 5px;
}
.prev-arr,
.next-arr {
    padding: 0 20px;
    cursor: pointer;
}

.p-types .mid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centred-content span,
.centred-content p {
    font-family: 'Playfair Display';
    font-size: 23px;
    text-align: center;
}
.row1-item__img img {
    width: 100%;
    height: 100%;
}
.centred-content {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row1-item {
    width: 670px;
    height: 598px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.row1-item__wrapper {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.row1-item:nth-child(1){
    padding-right: 18px;
}
.row1-item:nth-child(2) {
    width: 816px;
    height: 598px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    position: relative;
}

.abs-content {
    position: absolute;
    bottom: 65px;
    font-family: 'Playfair Display';
}
.row1-item:nth-child(2) .abs-content {
    position: absolute;
    bottom: 65px;
    
}
.row3-item__img {
    height: 100%;
    width: 100%;
}
.p-types__row1 {
    display: flex;

}
.row2-item {
    /* padding: 0 13px; */

}



.row3-item {
    position: relative;
}
/* .row2-item__content {
    font-family: 'Playfair Display';
    font-size: 23px;
    position: absolute;
    bottom: 172px;
    left: 106px;
    text-align: center;
    line-height: 2;
} */
/* .row2-item__wrapper {
    width: 100%;
    height: 100%;
    height: 450px;
} */
.row3-item__content {
    font-family: 'Playfair Display';
    font-size: 23px;
    position: absolute;
    bottom: 35px;
    left: 106px;
    text-align: center;
    
}
/* .row2-item {
    width: 323px !important;
    height: 571px;
} */
.row2-items {
    width: 1460px;
    display: flex;
    flex-direction: column;
}

.row2-item__wrapper {
    width: 100%;
    height: 450px;
    position: relative;
    background: aqua;

}
.center-content {
    font-family: 'Playfair Display';
    text-align: center;
    position: absolute;
    bottom: 35px;
    right: 113px;
    font-size: 23px;
}
.center-content p {
    margin-top: 19px;
}
.row2-abs {
    font-family: 'Playfair Display';
    font-size: 23px;
    margin-top: 15px;
    max-width: 256px;
}
.row2-item {
    height: 550px;
}
.swiper-container {
    width: 1425px;
    height: 530px;
    position: absolute;
    bottom: 38.5%;
    left: 18px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
img.prev.slick-arrow {
    position: absolute;
    right: 11px;
    top: 57px;
    padding: 7px 0px;
}

img.next.slick-arrow {
    right: 11px;
    position: absolute;
    bottom: 161px;
    padding: 7px 0px;
}

.p-types__row2 {
    margin-top: 35px;
}

.add-content {
    font-family: 'Playfair Display';
    font-size: 23px;
    max-width: 253px;
    position: absolute;
    bottom: 34px;
    
}

img.prev.slick-arrow {
    transform: rotate(0);
}
img.next.slick-arrow {
    transform: rotate(0);
}

.head-learn a {
    font-family: 'Myanmar';
    font-size: 19px;
    font-weight: 700;
    position: relative;
    color: black;
    z-index: 2;
}
.prev-arr, .next-arr {
    margin-top: 8px;
    cursor: pointer;
    height: 16px;
}
.head-learn a:after {
    content: '';
    background-color: black;
    position: absolute;
    height: 1px;
    width: 21px;
    height: 2.6px;
    width: 96px;
    top: 73%;
    left: 0;
    text-transform: capitalize;
}
.head-learn {
    position: absolute;
    top: 87%;
    right: 20%;
}
.shop-center span {
    font-family: 'Tahoma';
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin-bottom: 13px;
}
.shop-center a {
    font-family: 'Javanese';
    color: #fff;
    font-size: 42px;
    line-height: 1.1;
    margin-top: 21px;
    text-align: center;
    
    bottom: 0;
    
}


.shop-online .large-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shop-center {
    height: 283px;
    position: absolute;
    display: flex;
    width: 316px;
    top: 29%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0000006b;
}

.shop-img.left {
    margin-right: 34.3px;
    width: 50%;
}
.shop-img.left img {
    width: 100%;
}
.shop-img.right {
    width: 50%;
}
.shop-img.right img {
    width: 100%;
}
.shop-center a:after,
.shop-center a:before {
    content: '';
    background: #fff;
    height: 1px;
    width: 100%;
    position: absolute;
}

.shop-center a:before {
    bottom: 119px;
    width: 97%;
}

.shop-center a:after {
    bottom: 75px;
    left: 106px;
    width: 31%;
}



.sale-btn a {
    font-family: 'Playfair Display';
    font-size: 55px;
    color: black;
    border-bottom: 1px solid;
    padding-bottom: 12px;
}
.sale-learnMore a:after {
    content: '';
    background: black;
    width: 116px;
    height: 2px;
    top: 65%;
    right: 0%;
    position: absolute;
}
.sale-btn {
    position: relative;
    padding: 132px 0;
}
.sale__content {
    font-family: 'Lucida Console';
    font-size: 50px;
    
    background-size: cover;
    
    top: 43%;
    left: 17%;
    position: absolute;
    transform: rotate(20deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale__content:after {
    content: '';
    position:absolute;
    background: url('../img/sale-bg.png') no-repeat;
    width: 188.83px;
    height: 142px;
    bottom: -88%;
    z-index: -1;
    transform: rotate(-17deg);  

}
.sale {
    margin-top: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: #f7e5e5b6;
}

.sale-learnMore a {
    font-family: 'Myanmar Text';
    font-size: 22px;
    font-weight: 700;
    color: black;
    position: absolute;
    
}

.sale-learnMore a {
    bottom: 17%;
    right: 15%;
}
.accessories-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}
.accessories-title h2 {
    font-family: 'Mongolian Baiti';
    font-size: 55px;
    display: inline;
    margin-top: 96px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: 300;
}

.acc-content__centerUp span {
    font-family: 'Corbel';
    font-size: 41px;
    font-weight: 700;
    border-bottom: 1px solid;
    color: #fff;
}

.acc-content__bottomUp span {
    font-family: 'Playfair Display';
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.acc-content__centerDown span {
    font-family: 'Corbel';
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px solid;
    color: #fff;
}

.acc-content__bottomDown span {
    font-family: 'Playfair Display';
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.acc-block {
    display: flex;
    flex-direction: column;
}
.acc-block__itemUp {
    width: 989px;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD5D5;
    position: relative;
}
.acc-block__itemDown {
    display: flex;
}
.acc-content__bottomUp {
    position: absolute;
    bottom: 12%;
    left: 46%;
}
.acc-block__itemDown {
    width: 989px;
    height: 517px;
}
.acc-item1 {
    width: 50%;
    background: #707070;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.acc-item2 {
    width: 50%;
    background: #FF9E9E;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.acc-content__bottomDown {
    position: absolute;
    bottom: 78px;
}

.block-first__content p {
    font-family: 'Segoe Script';
    font-size: 25px;
    margin-top: 42px;
}

.block-mid__title p {
    font-family: 'Mongolian Baiti';
    font-size: 60px;
    border-bottom: 1px solid;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.with-boxContent__title h2 {
    display: inline-block;
    font-family: 'Corbel';
    font-size: 35px;
    border-bottom: 1px solid;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 22px;
    color: #fff;
}

.with-box__content p {
    font-family: 'Segoe Script';
    font-size: 30px;
    line-height: 1.1;
    max-width: 532px;
    color: #fff;

}

.with-content__box {
    width: 582px;
    height: 823px;
    background: #909090;
    position: relative;
}

.accessories-blocks {
    display: flex;
}

.block-with__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-mid__title {
    /* max-width: 444px; */
    margin-top: 79px;
    margin-bottom: 70px;
}

.block-first__content {
    max-width: 444px;
    margin-left: 8px;
   
    
}

.with-content__box {
    margin-left: 50px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: end; */
}

.with-box__content {
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 71px;
    left: 43.5px;
    transform: rotate(-12deg);
}

.all-accessories {
    background: url('/img/accessories-bg.png') no-repeat;
    background-position-y: 100%;
    padding-bottom: 96px;
    background-size: cover;
}
footer {
    padding-top: 40px;
}


.mission-content__title:after {
    content: '';
    background: #707070;
    height: 14px;
    width: 902px;
    top: 53%;
    position: absolute;
}

.mission-content__title h2 {
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 300;
    margin-top: 9px;
    margin-bottom: 75px;

}
.mission-content__title {
    position: relative;
}

.mission-content__p p {
    font-family: 'Playfair Display';
    font-size: 44px;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
}
.mission-content__p {
    margin-bottom: 259px;
}
.mission {
    padding-bottom: 362px;
}
.m-c-img__wrapper {
    width: 100%;
    height: 1080px;
    background:#615e5e ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission-content__img {
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
}
.mission-content__img span {
    position: absolute;
    top: 50%;
    left: 44%;
    color: #fff;  
    font-family: 'Playfair Display';
    font-size: 40px;
}
.mission-content__img img {
    width: 100%;
}
.m-c-img__wrapper span {
    font-family: 'Playfair Display';
    font-size: 40px;
    color: #fff;
}

.mission-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mission-abs p {
    font-family: 'Playfair Display';
    font-size: 19px;
    color: #707070;
    margin-bottom: 36px;
}
.mission-abs span {
    font-family: 'Playfair Display';
    font-size: 33px;
    
}
.mission-content__p p {
    position: relative;
}
.mission-content__p p:before {
    content: '';
    position: absolute;
    background: url('../img/ab-p-left.png') no-repeat;
    top: -18%;
    left: -20%;
    width: 782px;
    height: 662px;
    z-index: -1;
}
.mission-content__p p:after {
    content: '';
    position: absolute;
    background: url('../img/ab-p-right.png') no-repeat; 
    width: 764px;
    height: 769px;
    top: 41%;
    left: 47%;
    z-index: -1;
}
.mission-content__img {
    position: relative;
    
}
.mission-content__img:before {
    content: '';
    position: absolute;
    background: url('../img/ab-img-left.png') no-repeat;
    width: 640px;
    height: 667px;
    left: -48%;
    top: 28%;
    z-index: -1;
}
.mission-content__img:after {
    content: '';
    position: absolute;
    background: url('../img/ab-img-right.png') no-repeat;
    width: 802px;
    height: 777px;
    left: 76%;
    top: 2%;
    z-index: -1;
}
.mission-abs {
    
    position: absolute;
    bottom: 0;
    bottom: -187px;
    left: 101px;
}

.p-row3__title h2 {
    font-family: 'Playfair Display';
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 93px;
    margin-bottom: 89px;
}

.row3-item__content {
    font-family: 'Playfair Display';
    font-size: 23px;
    position: absolute;
    bottom: 172px;
    left: 106px;
    text-align: center;
    line-height: 2;
}
.row3-item__wrapper {
    
    width: 100%;
    height: 450px;
    
}
.row3-item__wrapper img {
    
    width: 100%;
    height: 100%;
    
}
.row3-item {
    
    height: 571px;
}
.p-row3__blocks {
    display: grid;
    width: 1497px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.p-types .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ham-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 21px;
    z-index: 21;
    top: 21px;
}
.hamburger-menu {
    
    width: 100%;
    display: none;
    
    transition: .6s;
    cursor: pointer;
  }
  
  .hamburger-menu div {
    width: 100%;
    padding: 0px 20px;
    background: #8a8885;
    height: 4px;
    margin: 4px 0;
    border-radius: 30px;
    transition: .3s;
}
  .hamburger-menu div:nth-child(2) {
    
    transition: .3s;
}
  
  .change div:nth-child(1) {
    transform: translateY(6px) rotate(47deg);
    background-size: 400% 400%;
    
    animation: mymove 10s linear infinite;
  }
  
  .change div:nth-child(3) {
    transform: translateY(-10px) rotate(-48deg);
    background-size: 400% 400%;
    
    animation: myMove 10s linear infinite;
  }

  .change div:nth-child(2) {
    opacity: 0;
    background: lightblue;
  }

  .open {
      right: 0 !important;
  }

  .head-owl-next {
      position: absolute;
      right: 10px;
      top: 9px;
  }
  .head-owl-prev {
      position: absolute;
      top: 7px;
    left: 9px;
  }

.acc-block__img {
    width: 100%;
    height: 100%;
}
.acc-block__img img {
    width: 100%;
    height: 100%;
}
.acc-content__centerUp {
    position: absolute;
}
.acc-item1__img {
    width: 100%;
    height: 100%;
}
.acc-item2__img {
    width: 100%;
    height: 100%;
}
.acc-item1__img img {
    width: 100%;
    height: 100%;
}
.acc-item2__img img {
    width: 100%;
    height: 100%;
}

.with-content__img {
    width: 100%;
    height: 100%;
}
.with-content__img img {
    width: 100%;
    height: 100%;
}
.acc-content__centerDown {
    position: absolute;
    
}
.block-with__img {
    width: 100%;
    height: 100%;
}
.block-with__img img {
    width: 100%;
    height: 100%;
}
